<h2 style="text-align: center;"> Categories </h2>



<div class="container-fluid">
<div class="row row-cols-3">
  <% Category.all.each do |c| %>
      <button class="btn btn-light" type="button"><%= link_to c.name, :action => "show", :controller => 'categories', :id => c.id , style: "color: white"%></button>
  <%end%>
</div>
</div>