<H1 style="text-align: center;"> BIG BURP DELI POS </H1>

<h2 style="text-align: center;"> Welcome </h2>


<div class="container">
    <div class="row">
        <button><%= link_to 'Orders', cart_list_path %></button>
        <button>Reports</button>
    </div>
</div>