<div class="col-sm-4 p-3" >
    <%# <div style="text-align: center; height: 575px; padding: 25px 50px 50px 25px; border-style: solid;"> %>
    <div class="card">
        <p class="h6">Current time is: <span id="time"></span></p>
        <p class="h3">Time Left: <span id="countdown"></span></p>

        <button id="yes" class="btn btn-primary"> Click Me </button>
    </div>
</div>